.App {
  text-align: center;
}
li {
  display: block;
  line-height: 200px;
  height: 200px;
  border: 1px solid red;
  width: 200px;
}
li p {
  line-height: 1.5;
  display: inline-block;
  vertical-align: middle;
}
